@page
@model LoginModel



@{

    ViewData["Title"] = "Login";
}



<h1>Welcome back!</h1>


<div class="row" id="loginSite">
    <div class="">



            <form id="account" method="post">
                <p>Please enter log in details below</p>



                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>


                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>



                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>

                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <div>
                    <button id="login-submit" type="submit" class="">Sign in.</button>
                </div>
                <div>


                    <hr />

                    <p>
                        <button>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user.</a>
                    </button>
                    </p>

                    <!-----
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                    ----->
                </div>
            </form>
    </div>



</div>


<style>

    body {
        background: rgb(196,25,190);
        background: radial-gradient(circle, rgba(196,25,190,1) 0%, rgba(38,40,221,1) 100%);
        font-family: 'Squada One', sans-serif;
        color: white;
    }



    /* Style the main container for the form */
    #loginSite {
        padding: 2rem;
        width: 600px; /* Adjust width */

    }


    #account {
        display: flex;
        flex-direction: column;
    }

        #account p {
            margin: 0.5rem 0;
        }

    .form-control {
        padding: 1rem;
        margin-bottom: 1rem;
        border: none;
        border-radius: 20px;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    }

    .form-floating > label {
        display: block;
        text-transform: uppercase;
        font-size: 0.75rem;
        margin-left: 1rem;
        margin-top: -0.5rem;
        color: white;
        pointer-events: none;
    }

    button {
        width: 100%;
        padding: 1rem;
        border: none;
        border-radius: 20px;
        margin-top: 1rem;
        background-color: black;
        color: white;
        cursor: pointer;
    }

        button:hover {
            background-color: #0B0B0B;
        }


    a {
        color: #ddd;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }


    #forgot-password {
        color: #fff;
    }

    .checkbox label {
        display: block;
        margin-top: 0.5rem;
    }


    .form-check-input {
        margin-right: 0.5rem;
    }

    hr {
        border-color: #fff;
        margin-top: 2rem;
    }








</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
